@font-face {
    font-family: "Fredoka";
    src: url("../fuente/Fredoka-Regular.ttf") format("truetype");
    font-weight: 400;

}

@font-face {
    font-family: "Fredoka";
    src: url("../fuente/Fredoka-Bold.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "Fredoka";
    src: url("../fuente/Fredoka-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Anton";
    src: url("../fuente/Anton-Regular.ttf");
    font-weight: 400;
}