
:root {
    --azul: #3D33A8;
    --rosado: #F053B0;
    --rosa-suave:#FFA3D0 ;
    --blanco: #FFFFFF;
    --color: #2B2B2B ;
    --titulos: 'Anton', impact;
    --parrafos: 'Fredoka', sans-serif;
    --lemon: #EFE8D8;
    --background-color: #f9f5f0;
    --primary-color: #e5ada8;
}

/*Esto sirve para que las cajas de texto no se modifiquen al agregarles padding, sino mantengan su tamaño*/

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
}
body {
    background: var(--background-color);
    margin: auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}
*,*::after,*::before{
    box-sizing: inherit;
}
h1,h2{
    font-family: var(--titulos);
}
h3,p,a{
    font-family: var(--parrafos);
}
img{
    max-width: 100%;
}
.btn{
    text-decoration: none;
    color: var(--blanco);
    font-size: 22px;
    text-transform: capitalize;
    padding: 10px 40px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
.btn-rosado {
    background-color: var(--p);    
    display: inline-block;
    margin-top: 20px;
}
.btn-rosado:hover {
    background-color: var(--rosa-suave);
}
/*NAVEGACION*/
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}
.contenedor-navegacion{
    background-color: var(--rosado);
}
.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2{
    letter-spacing: 1px;
    font-size: 30px;
    color: var(--azul);
}
.navegacion a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    color: var(--blanco);
    transition: color .3s ease-in-out;
}
.navegacion a:hover{
    color: var(--rosa-suave);
}

/*CARRUSEL*/
.carrusel {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.carrusel ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
    margin: 0;
    padding: 0;
}

.carrusel li{
    width: 100%;
    list-style: none;
    position: relative;
}

.txt {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50%;
    padding: 0 80px;
    border-radius: 8px;
    box-sizing: border-box;
}
.txt h2{
    font-size: 45px;
    margin-bottom: 35px;
    letter-spacing: 1px;
}
.texto-carrusel1{
    color: var(--azul);
}
.texto-carrusel4{
    color:var(--azul)
}
.texto-carrusel2, .texto-carrusel3{
    color: var(--rosado);
}
.carrusel img{
    width: 100%;
    object-fit: cover; 
}
.carrusel p{
    color: #e2dcdc;
    font-size: 20px;
}

@keyframes slide{
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}

@media(max-width: 991px){
    .carrusel{
        width: 100%;
    }
    .txt{
        top: 50%;
        padding: 0;
    }
    .txt h2{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .txt p{
        font-size: 15px;
    }
}

/*BIENVENIDA*/
.contenedor-nosotros{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.texto-nosotros, .imagenes-nosotros{
    flex: 0 0 calc(50% - 10px);
}
.texto-nosotros .bienvenido{
    font-size: 30px;
    color: var(--gris);
}

.texto-nosotros h1{
    font-size: 50px;
    color: var(--gris);
    text-align: center;
}
.texto-nosotros .p{
    font-size: 20px;   
    color: var(--azul);
}
.imagenes-nosotros{
    display: flex;
    justify-content: space-between;
}
.imagenes-nosotros img{
    border-radius: 5px;
}
.imagen1, .imagenes2{
    flex: 0 0 calc(50% - 10px);
}
.imagenes2 img {
    margin-bottom: 10px;
}
.main-content {
	background-color: var(--background-color);
}
/*Mejores Productos*/
.top-products {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-options {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}

.container-options span {
	color: #777;
	background-color: #fff;
	padding: 0.7rem 3rem;
	font-size: 1.4rem;
	text-transform: capitalize;
	border-radius: 2rem;
	cursor: pointer;
}

.container-options span:hover {
	background-color: var(--primary-color);
	color: #fff;
}

.container-options span.active {
	background-color: var(--primary-color);
	color: #fff;
}

/* Products */
.container-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
}

.card-product {
	background-color: #fff;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img {
	position: relative;
}

.container-img img {
	width: 100%;
}

.container-img .discount {
	position: absolute;
	left: 0;
	background-color: var(--primary-color);
	color: #fff;
	padding: 2px 1.2rem;
	border-radius: 1rem;
	font-size: 1.2rem;
}

.card-product:hover .discount {
	background-color: #000;
}

.button-group {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	position: absolute;
	top: 0;
	right: -3rem;
	z-index: -1;
	transition: all 0.4s ease;
}

.button-group span {
	border: 1px solid var(--primary-color);
	padding: 0.8rem;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
}

.button-group span:hover {
	background-color: var(--primary-color);
}

.button-group span i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.button-group span:hover i {
	color: #fff;
}

.card-product:hover .button-group {
	z-index: 0;
	right: -1rem;
}

.content-card-product {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, min-content);
	row-gap: 1rem;
}

.stars {
	grid-row: 1/2;
	grid-column: 1/-1;
}

.stars i {
	font-size: 1.3rem;
	color: var(--primary-color);
}

.content-card-product h3 {
	grid-row: 2/3;
	grid-column: 1/-1;

	font-weight: 400;
	font-size: 1.6rem;
	margin-bottom: 1rem;
	cursor: pointer;
}

.content-card-product h3:hover {
	color: var(--primary-color);
}

.add-cart {
	justify-self: start;
	border: 2px solid var(--primary-color);
	padding: 1rem;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.add-cart:hover {
	background-color: var(--primary-color);
}

.add-cart i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.add-cart:hover i {
	color: #fff;
}

.content-card-product .price {
	justify-self: end;
	align-self: center;

	font-size: 1.7rem;
	font-weight: 600;
}

.content-card-product .price span {
	font-size: 1.5rem;
	font-weight: 400;
	text-decoration: line-through;
	color: #777;
	margin-left: 0.5rem;

}

/*Pie de página*/
.pie-pagina{
    margin-top: 50px;
    background-color: var(--rosado);
    padding: 80px;
}
.contenedor-piepagina{
    display: flex;
    justify-content: space-between;
}
.info{
    flex: 0 0 calc(25% - 10px);
}
.info h3, .info p{
    text-align: center;
}
.info h3{
    font-size: 20.2px;
    font-weight: 600;
}
.redes-pie{
    text-align: center;
    font-size: 30px;
}
.redes-pie a{
    text-decoration: none;
    color: inherit;
}
.footer{
    text-align: center;
    background-color: #ec1797;
    padding: 3px;
    font-size: 15px;
}
