:root {
    --azul: #3D33A8;
    --rosado: #F053B0;
    --rosa-suave:#FFA3D0 ;
    --blanco: #FFFFFF;
    --color: #2B2B2B ;
    --titulos: 'Anton', impact;
    --parrafos: 'Fredoka', sans-serif;
}

/*Esto sirve para que las cajas de texto no se modifiquen al agregarles padding, sino mantengan su tamaño*/
html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body {
    background: var(--azul);
    color: var(--blanco);    
}
h1,h2{
    font-family: var(--titulos);
}
h3,p,a{
    font-family: var(--parrafos);
}
img{
    max-width: 100%;
}
.btn{
    text-decoration: none;
    color: var(--blanco);
    font-size: 22px;
    text-transform: capitalize;
    padding: 10px 40px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
.btn-azul {
    background-color: var(--rosado);    
}
.btn-azul:hover {
    background-color: var(--rosa-suave);
}
/*NAVEGACION*/
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
    
}
.contenedor-navegacion{
    background-color: var(--rosado);
}
.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2{
    letter-spacing: 1px;
    font-size: 30px;
    color: var(--azul);
}
.navegacion a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    color: var(--blanco);
    transition: color .3s ease-in-out;
}
.navegacion a:hover{
    color: var(--rosa-suave);
}

/*CARRUSEL*/
.carrusel {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.carrusel ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
    margin: 0;
    padding: 0;
}

.carrusel li{
    width: 100%;
    list-style: none;
    position: relative;
}

.txt {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50%;
    padding: 0 80px;
    border-radius: 8px;
    box-sizing: border-box;
}
.txt h2{
    font-size: 45px;
    margin-bottom: 35px;
    letter-spacing: 1px;
}
.texto-carrusel1{
    color: var(--azul);
}
.texto-carrusel4{
    color:var(--azul)
}
.texto-carrusel2, .texto-carrusel3{
    color: var(--rosado);
}
.carrusel img{
    width: 100%;
    object-fit: cover; 
}
.carrusel p{
    color: #e2dcdc;
    font-size: 20px;
}

@keyframes slide{
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}

@media(max-width: 991px){
    .carrusel{
        width: 100%;
    }
    .txt{
        top: 50%;
        padding: 0;
    }
    .txt h2{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .txt p{
        font-size: 15px;
    }
}

/*BIENVENIDA*/
.contenedor-nosotros{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.texto-nosotros, .imagenes-nosotros{
    flex: 0 0 calc(50% - 10px);
}
.texto-nosotros .bienvenido{
    font-size: 30px;
    color: var(--gris);
    text-align: center;
}

.texto-nosotros h1{
    font-size: 50px;
    color: var(--gris);
    text-align: center;
}
.texto-nosotros .p{
    font-size: 20px;   
    color: var(--azul);
}
.imagenes-nosotros{
    display: flex;
    justify-content: space-between;
}
.imagenes-nosotros img{
    border-radius: 5px;
}
.imagen1, .imagenes2{
    flex: 0 0 calc(50% - 10px);
}
.imagenes2 img {
    margin-bottom: 10px;
}