:root {
    --rosado-fuerte: #EC4899;
    --rosado-semifuerte: #EB62A6;
    --rosado: #E77EB1;
    --rosado-suave: #F5BED9;
    --gris-claro: #EDEDED;
    --blanco: #FFFFFF;
    --negro: #000000;
    --titulos: 'Fredoka', impact;
    --parrafos: 'Montserrat', sans-serif;
}

/*Esto sirve para que las cajas de texto no se modifiquen al agregarles padding, sino mantengan su tamaño*/
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--gris-claro);
    margin: 0;
    padding: 0;
    color: var(--negro);
}

.heading-1 {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

/* Agrupa fuentes para títulos y párrafos */
h1, h2 {
    font-family: var(--titulos);
}
h3, p, a {
    font-family: var(--parrafos);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.btn {
    text-decoration: none;
    color: var(--blanco);
    font-size: 22px;
    text-transform: capitalize;
    padding: 10px 40px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
.btn-rosado {
    background-color: var(--rosado);
    display: inline-block;
    margin-top: 20px;
}
.btn-rosado:hover {
    background-color: var(--rosado-fuerte);
}

/*NAVEGACION*/
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}
.contenedor-navegacion {
    background-color: var(--rosado);
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
}
.contenido-navegacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2 {
    letter-spacing: 1px;
    font-size: 27px;
    color: var(--blanco);
    font-family: 'AmaricSC';
}
.navegacion a {
    text-decoration: none;
    font-size: 17px;
    padding: 10px;
    color: var(--blanco);
    transition: color .3s ease-in-out;
}
.navegacion a:hover {
    color: var(--rosado-suave);
}
/* Botón hamburguesa oculto por defecto */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2.5rem;
    color: var(--blanco);
    cursor: pointer;
}
/*CARRUSEL*/
.carrusel {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.carrusel ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
    margin: 0;
    padding: 0;
}
.carrusel li {
    width: 100%;
    list-style: none;
    position: relative;
}
.txt {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50%;
    padding: 0 8rem;
    border-radius: 8rem;
    box-sizing: border-box;
    text-align: right;
}
.txt h2 {
    font-size: 45px;
    margin-bottom: 35px;
    letter-spacing: 1px;
    color: var(--rosado-fuerte);
    text-shadow: 3px 3px 4px #00000033;
}
.carrusel img {
    width: 100%;
    object-fit: cover;
}
.carrusel p {
    color: var(--negro);
    font-size: 20px;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

/*BIENVENIDA*/
.contenedor-nosotros {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}
.texto-nosotros, .imagenes-nosotros {
    flex: 0 0 calc(50% - 1rem);
}
.texto-nosotros .bienvenido {
    font-size: 30px;
}
.texto-nosotros h1 {
    font-size: 50px;
    color: var(--rosado);
    text-align: center;
    text-shadow: 2px 2px 4px #00000033;
}
.texto-nosotros p {
    font-size: 15px;
    text-align: justify;
    color: var(--negro);
}
.imagenes-nosotros {
    display: flex;
    justify-content: space-between;
}
.imagenes-nosotros img {
    border-radius: 0.5rem;
}
.imagen1,.imagenes2 {
    flex: 0 0 calc(50% - 1rem);
}
.imagenes2 img {
    margin-bottom: 1rem;
}
/*Mejores Productos*/
.top-products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}
.container-options {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}
.container-options span {
    color: #777;
    background-color: var(--blanco);
    padding: 0.7rem 3rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.container-options span:hover {
    background-color: var(--rosado);
    color: var(--blanco);
}
.container-options span.active {
    background-color: var(--rosado);
    color: var(--blanco);
}

/* Products */
.container-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}
.card-product {
    background-color: var(--blanco);
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 2px #0000001a;
}
.container-img {
    position: relative;
}
.container-img img {
    width: 100%;
}
.container-img .discount {
    position: absolute;
    left: 0;
    background-color: var(--rosado);
    color: var(--blanco);
    padding: 2px 1.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}
.card-product:hover .discount {
    background-color: var(--negro);
}
.button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: absolute;
    top: 0;
    right: -3rem;
    z-index: -1;
    transition: all 0.4s ease;
}
.button-group span {
    border: 1px solid var(--rosado);
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
}
.button-group span:hover {
    background-color: var(--rosado);
}
.button-group span i {
    font-size: 1.5rem;
    color: var(--rosado);
}
.button-group span:hover i {
    color: var(--blanco);
}
.card-product:hover .button-group {
    z-index: 0;
    right: -1rem;
}
.content-card-product {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
}
.stars {
    grid-row: 1/2;
    grid-column: 1/-1;
}
.stars i {
    font-size: 1.3rem;
    color: var(--rosado);
}
.content-card-product h3 {
    grid-row: 2/3;
    grid-column: 1/-1;
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.content-card-product h3:hover {
    color: var(--rosado);
}
.add-cart {
    justify-self: start;
    border: 2px solid var(--rosado);
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-cart:hover {
    background-color: var(--rosado);
}
.add-cart i {
    font-size: 1.5rem;
    color: var(--rosado);
}
.add-cart:hover i {
    color: var(--blanco);
}
.content-card-product .price {
    justify-self: end;
    align-self: center;
    font-size: 1.7rem;
    font-weight: 600;
}
.content-card-product .price span {
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #777;
    margin-left: 0.5rem;
}

/*Pie de página*/
.pie-pagina {
    margin-top: 50px;
    background-color: var(--rosado);
    padding: 80px;
}
.contenedor-piepagina {
    display: flex;
    justify-content: space-between;
}
.info {
    flex: 0 0 calc(25% - 10px);
}
.info h3,.info p {
    text-align: center;
    color: var(--blanco);
}
.info p {
    font-size: 15px;
}
.info h3 {
    font-size: 20.2px;
    font-weight: 600;
}
.redes-pie {
    text-align: center;
    font-size: 30px;
}
.redes-pie a, .redes-pie p {
    text-decoration: none;
    color: inherit;
    color: var(--blanco);
}
.footer {
    text-align: center;
    background-color: var(--rosado-fuerte);
    padding: 3px;
    font-size: 15px;
    color: var(--blanco);
}

@media (max-width: 768px) {
    html {
        font-size: 55%;
    }
    .contenedor {
        width: 99%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    /* Navegación */
    .contenido-navegacion {
        position: relative;
        align-items: center;
    }
    .menu-toggle {
        display: block;
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }
    .navegacion {
        display: none;
        flex-direction: column;
        background: var(--rosado);
        position: absolute;
        top: 100%;
        right: 0;
        width: 60vw;
        min-width: 180px;
        box-shadow: 0 2px 8px #0002;
        border-radius: 0 0 0 1rem;
        padding: 1.5rem 2rem;
        gap: 1.5rem;
        z-index: 15;
    }
    .navegacion.active {
        display: flex;
    }
    .contenido-navegacion {
        position: relative;
    }
    .navegacion a {
        font-size: 15px;
        padding: 8px 5px;
    }
    
    /* Carrusel */
    .carrusel {
        height: auto;
        min-height: unset;
        aspect-ratio: unset;
    }
    .carrusel img {
        height: auto;
        max-height: 40vh; /*limita el alto de la imagen en móvil*/
        object-fit: cover;
    }
    .carrusel ul {
        height: auto;
    }
    .carrusel li {
        height: auto;
    }
    .txt {
        padding: 0 2rem;
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -40%);
        text-align: right;
        width: 50%;
    }
    .txt h2 {
        font-size: 1.7rem;
    }
    .carrusel .txt p {
        display: none;
    }

    /* Sección Nosotros */
    .contenedor-nosotros {
        flex-direction: column;
        gap: 30px;
    }
    .texto-nosotros h1 {
        font-size: 3rem;
    }
    .texto-nosotros .bienvenido {
        font-size: 2rem;
    }
    .imagenes-nosotros {
        display: flex;
        flex-direction: column;
        gap: 20px; /*Espacio uniforme entre imágenes */
        align-items: center; /* Centra las imágenes si hay margen lateral */
    }
    .imagenes-nosotros img {
        width: 100%;
        max-width: 350px; /* Opcional: limita el ancho máximo */
        border-radius: 0.5rem;
        display: block;
    }

    /* Productos */
    .container-products {
        display: grid;
        grid-template-columns: 1fr !important;
        /* Una columna */
        gap: 2rem;
    }
    /* Pie de página */
    .contenedor-piepagina {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .info {
        flex: 1 1 100%;
        text-align: center;
    }
    /* Botones */
    .btn {
        font-size: 18px;
        padding: 8px 25px;
    }
}